name: Build

on:
  push:
    branches:
      - main

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout
  packages: write # This is required for publishing a package

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'
          cache: 'gradle'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Run Flyway migrations
        run: 'mkdir /tmp/soba-test && ./gradlew flywayMigrate -i --stacktrace'
      - name: Upload SQLite database
        uses: actions/upload-artifact@v4
        with:
          name: sample.sqlite3
          path: /tmp/soba-test/sample.db
      - name: Run Gradle build
        run: './gradlew build -i'
      - name: Publish package
        run: './gradlew publish'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
